.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  border: none;
  align-items: end;
  text-transform: uppercase;
  font-family: 'Gudea', sans-serif;
  padding-left: 1rem !important;
  padding-bottom: 0.5rem !important;
  padding-right: 1rem !important;
  padding-top: 0.5rem !important;
}

html, body, #root, .home{
  min-height: 100vh;
}

.products {
  background-color: #fff;
}

Link{
  font-style: none;
}

#login-button, #logout-button {
  margin-left: auto
}

.return-button{
  width: 80px !important;
  color: black !important;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin: auto;
  margin-top: 30px; 
  min-width: 200px 
}

#login-button, #logout-button, .buy-button {
  background: #4896ce;
  border: none;
  padding: 7px;
  border-radius: 6px;
  width: 80px;
  color: white !important;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

.search-bar-container {
  text-align: center;
  padding: 20px;
  background-color: #5870321a;
}

.search-bar {
  display: block;
  margin: auto;
  padding: 0.75rem 1rem;
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(231, 100, 165, 0.05);
  transition: all 0.2s ease;
}

.search-bar:focus {
  border-color: #e764a5;
}

#login-modal {
  border-radius: 8px !important;
}

#product-modal {
  border-radius: 8px !important;
  text-align: center;
  padding: 70px !important;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: auto;
  padding: 15px;
}

.product-card { 
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.product-image {
  background-color: #f6f6f6;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}

.product-title, .product-price{
  font-family: 'Gudea', sans-serif;
  font-size: 12px; 
}

.prod-img {
  max-width:90%; 
  max-height:70%; 
}

.product-add-to-cart{
  margin-top: auto;
} 

.orange-btn {
  width: 100%;
  padding: 5px;
  border: 1px solid #f67227; 
  box-shadow: 2px 2px 1px #f67227;
  border: 1px solid #f67227;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}

.green-btn {
  width: 100%;
  padding: 5px;
  border: 1px solid #587032;; 
  box-shadow: 2px 2px 1px #587032;
  border: 1px solid #587032;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}

.grey-btn {
  width: 100%;
  padding: 5px;
  border: 1px solid #bababa;; 
  box-shadow: 2px 2px 1px #bababa;
  border: 1px solid #bababa;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}

.login-entry{
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
  width: 70%;
  margin: auto;
  text-align: center;
}

.login-input{
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.product-rating-text{
  padding-left: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
